# Unreal generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE
.vs/
.idea/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / JetBrains
*.DotSettings.user

# Build outputs / packaged game
Build/**
!Build/**/
!Build/*.ico
!Build/**/*.ico
!Build/*.png
!Build/**/*.png
!Build/*.icns
!Build/**/*.icns
!Build/*.rc
!Build/**/*.rc
!Build/*.command
!Build/**/*.command
!Build/*.plist
!Build/**/*.plist
!Build/Android/
!Build/Android/**

# Keep source project structure
Config/**
Source/**
Plugins/**
*.uproject
*.sln
.vsconfig

# Ignore all content by default
Content/**

# Re-include only your project content
!Content/Nexus/
!Content/Nexus/**

# Optional: if plugins contain generated junk, ignore that inside plugins too
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/
Plugins/*/DerivedDataCache/